# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.db
.pytest_cache/

# Node & Frontend
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & OS
.env
.DS_Store
Thumbs.db
*.log
